{% extends 'base.html' %}

{% block content %}

    <div class="news">
        <div class="title"></div>
        <div class="newstext" id="jcontent">
            Select a user or <a href="/users/add" >Add one</a>
        </div>
        <div class="footnews"></div>
    </div>

    <div class="news">

        <div class="title">Users</div>
        <div class="subhead"> </div>
        <div class="newstext">

        {% if user_list %}
        <ul>
            {% for user in user_list %}
                <li>
                    <a onclick="jQuery('#jcontent').load('/users/{{user.id}}');return false;" href="#">{{user.first_name}} {{user.last_name}}</a>
                    &lt;
                    <a href="mailto:{{user.email}}">{{user.email}}</a>
                    &gt;
                    &nbsp;
                    <a href="detail/{{user.id}}">Details</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No users</p>
        {% endif %}
        </div>
        <div class="footnews"><a href="/search">Search</a>&nbsp;</div>

    </div>
{% endblock %}